# Server Configuration
SERVER_PORT=3000
ENVIRONMENT=development
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydatabase
DB_SSL_MODE=disable

# Goose Configuration
GOOSE_DRIVER= // The database driver to use
GOOSE_DBSTRING= // The database connection string
GOOSE_MIGRATION_DIR= // The directory containing the migration files (default: .)
NO_COLOR=FALSE // Disable color output

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=supersecret
REDIS_DB=0